<div class="appform-field-location">
  <div>
    {{ctrl.field.props.helpText}}
  </div>
  <div>
    <input type="number"
      placeholder="Longitude"
      name="inputNameX"
      ng-model="ctrl.model.lat"
      ng-required="ctrl.field.props.required"
      style="width: 40%; display: inline-block;"
    ></input>
    <input type="number"
      placeholder="Longitude"
      name="inputNameY"
      ng-model="ctrl.model.long"
      ng-required="ctrl.field.props.required"
      style="width: 40%; display: inline-block;"
    ></input>
    <button type="button" ng-click="ctrl.setLocation()" class="button">X</button>
  </div>
  <ng-transclude></ng-transclude>
</div>
